---
import Base from '../layouts/Base.astro';
import Card from '../components/generic/Card.astro';

// Projects data
import projects from "../data/projects.json";
---

<Base className="projects">
	<h1>Major Contributions</h1>

	<p>Working at a web development and design agency for 5 years, I was fortunate to work on projects for clients from a diverse list of industries. Whether it was education, engineering, cosmetics, NGOs tackling global poverty, or organizations dedicated to curing cancer, I thoroughly enjoyed getting to be a part of each and every one of these projects. I contributed a significant amount of production code to all of these sites and apps, and lead development on some of them.</p>

	<ul aria-label="Projects">
		{
			projects.map((project) => {
				return (
					<li>
						<h2>{project.name}</h2>
						<div>
							{
								project.image &&
								<Card><img src={project.image} alt={project.imageAlt}/></Card>
							}
							<dl>
								<dt>Project Type</dt>
								<dd>{project.type}</dd>

								{
									project.url &&
									<dt>URL</dt>
									<dd><a href={project.href} target="_blank">{project.url}</a></dd>
								}
			
								<dt>Year</dt>
								<dd>{project.year}</dd>

								{ project.stack &&
									<dt>Stack</dt>
									<dd>{project.stack}</dd>
								}
			
								<dt>Role</dt>
								<dd>{project.role}</dd>

								{
									project.highlights &&
									<dt>Highlights</dt>
									<dd>{project.highlights}</dd>
								}
							</dl>
						</div>
					</li>
				);
			})
		}
	</ul>
</Base>

<style>
	ul {
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: var(--px-to-rem-32);
	}

	ul > li {
		padding: var(--px-to-rem-24) var(--px-to-rem-48);
		background-color: var(--contrast-dark-color);
		border-radius: 8px;
		container-type: inline-size;
	}

	:global(main.projects ul > li div.card) {
		width: 60%;
		margin: var(--px-to-rem-16) 0;
	}

	@container (min-width: 900px) {
		:global(main.projects ul > li div.card) {
			display: inline;
			float: right;
			margin: 0 0 var(--px-to-rem-16) var(--px-to-rem-16);
		}
	}
	
	dt {
		font-weight: 600;
		white-space: nowrap;
		margin-bottom: var(--px-to-rem-8);
	}

	dd {
		font-weight: 200;
		margin-bottom: var(--px-to-rem-16);
		text-wrap: pretty;
		max-width: 80ch;
	}

	dd > a {
		max-width: 20ch;
		word-break: break-all;
	}

	@media (max-width: 789px) {
		ul > li {
			padding: var(--px-to-rem-24) var(--px-to-rem-16);
		}

		:global(main.projects ul > li div.card) {
			width: 100%;
		}

		dd {
			max-width: 100%;
		}
	}
</style>