---
const currentPage = Astro.url.pathname;

const className = currentPage === "/" ? "home" : "";

const aboutActive = currentPage === "/about";
const projectsActive = currentPage === "/projects";
const doodlesActive = currentPage === "/doodles";
const componentsActive = currentPage === "/components";
const thoughtsActive = currentPage === "/thoughts";
---

<header class={className}>
  <a href="#main-content" id="skip-link">Skip to main content</a>
  <div>
    <a href="/" title="home"><img src="/favicon.svg" alt="" aria-hidden="true"/><span class="visually-hidden">go to the home page</span></a>
    <a class="button-link" href="mailto:aafmisra@gmail.com">Say Hi</a>
  </div>

  <nav aria-label="Primary">
    <ul>
      <li class={aboutActive ? "active" : ""}>
        <a aria-current={aboutActive} href="/about">
					<span>About Me <img src={`/about-${aboutActive ? "active" : "inactive"}.svg`} alt="" aria-hidden="true"/></span>
				</a>
      </li>
      <li class={projectsActive ? "active" : ""}>
        <a aria-current={projectsActive} href="/projects">
					<span>Projects <img src={`/projects-${projectsActive ? "active" : "inactive"}.svg`} alt="" aria-hidden="true"/></span>
				</a>
      </li>
      <li class={doodlesActive ? "active" : ""}>
        <a aria-current={doodlesActive} href="/doodles">
					<span>Doodles <img src={`/doodles-${doodlesActive ? "active" : "inactive"}.svg`} alt="" aria-hidden="true"/></span>
				</a>
      </li>
      <li class={componentsActive ? "active" : ""}>
        <a aria-current={componentsActive} href="/components">
					<span>Components <img src={`/components-${componentsActive ? "active" : "inactive"}.svg`} alt="" aria-hidden="true"/></span>
				</a>
      </li>
      <li class={thoughtsActive ? "active" : ""}>
        <a aria-current={thoughtsActive} href="/thoughts">
					<span>Thoughts <img src={`/thoughts-${thoughtsActive ? "active" : "inactive"}.svg`} alt="" aria-hidden="true"/></span>
				</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    padding: 1rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--contrast-dark-color);
  }
  
  header > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  header > div img {
    height: 3rem;
    transform: rotate(18deg);
  }
  
  header a {
    text-decoration: none;
  }
  
  header > nav > ul {
    width: 100%;
    display: flex;
    padding: 0 0 0 1rem;
    margin: 0;
    overflow-x: scroll;
    scrollbar-width: none;
  } 

  /* Homepage version of the header */
  header.home {
    background-color: var(--main-color);
  }
  header.home > nav,
  header.home > div > a:first-of-type {
    display: none;
  }
  header.home > div {
    justify-content: flex-end;
  }

  /* Skip to main content link */
  a#skip-link {
    background-color: var(--main-color);
    border-bottom-right-radius: var(--px-to-rem-4);
    color: var(--contrast-light-color);
    font-size: var(--px-to-rem-20);
    font-weight: 400;
    height: unset;
    left: 0;
    padding: var(--px-to-rem-10) var(--px-to-rem-22);
    position: absolute;
    text-decoration: underline;
    top: calc(var(--px-to-rem-50) * -1.2);
    z-index: 9999;
    transition: top 0 linear; /* Default transition: allow transition-delay for users who prefer reduced motion */
    transition-delay: 2s;
  }
  a#skip-link:focus {
    top: 0;
    transition: unset;
  }
  a#skip-link:focus:not(:focus-visible) {
    top: calc(var(--px-to-rem-50) * -1);
  }
  @media (prefers-reduced-motion: no-preference) {
    a#skip-link {
      transition: top 0.25s ease-in-out;
      transition-delay: 2s;
    }
  }
  /* Mobile mode */
  @media (max-width: 900px) {
    a#skip-link {
      padding: var(--px-to-rem-8);
      font-size: var(--px-to-rem-16)
    }
  }

  /* overlapping tabs */
  nav li {
    display: inline-block;
    margin-left: -20px;
  }

  nav a {
    text-decoration: none;
    font-weight: 400;
    color: var(--contrast-dark-color);
    background: var(--main-color-);
    position: relative;
    display: inline-block;
    margin: 0 22px;
    padding: var(--px-to-rem-8) var(--px-to-rem-18);
    border-radius: 7px 7px 0 0; 
    white-space: nowrap;
  }

  nav a:before,
  nav a:after {
    content: " ";
    position: absolute;
    top: 0;
    width: 23px;
    height: 100%;
    background-color: inherit;
  }

  nav a:before {
    border-radius: 12px 0 0 0;
    transform: skew(-24deg);
    left: -13px; /* play with this one to give the LI border ~2px extrusion */
  }

  nav a:after {
    border-radius: 0 12px 0 0;
    transform: skew(24deg);
    right: -13px; /* play with this one to give the LI border ~2px extrusion */
    border-right: 1px solid var(--main-color);
    z-index: 1; /* overlap next element */
  }

  /* Nav link images */
  nav a img {
    height: 1rem;
    transition: transform .25s ease-in-out;
  }
  nav a:hover img {
    transform: translateY(-4px);
  }
  /* sizing for images */
  nav a[href="/about"] img,
  nav a[href="/thoughts"] img {
    height: 1.2rem;
    margin-bottom: -4px;
  }

  /* active tabs  */

  nav li.active {
    border-bottom: 1px solid var(--main-color);
  }

  nav li.active a {
    color: var(--main-color-);
    background: var(--main-color);
  }

  nav li.active a:before {
    z-index: 1; /* overlap prev element */
  }

  nav li.active a:after {
    border-bottom: 2px solid var(--main-color);
  }
</style>